/* Global Styles */
body {
    background-image: url(toxicVillage.png);
    background-size: cover;
}

#arrivalScene {
    display: none;
}

#sickVillager {
    display: none;
}

/* Main Menu */
#mainMenu {
    position: fixed;
    inset: 0;
    z-index: 1000;
}

#menuImage {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#startGameBtn {
    position: absolute;
    bottom: 15vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 2vh 2vw;
    font-size: 2vw;
}

.glow-btn {
    background-color: #7fffd1;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: transform 0.2s ease;
    animation: plaguePulse 2.5s infinite ease-in-out;
}

.glow-btn:hover {
    transform: scale(1.05);
}

@keyframes plaguePulse {
    0% {
        box-shadow: 0 0 5px #7fffd1, 0 0 10px #7fffd1;
        opacity: 0.95;
    }

    50% {
        box-shadow: 0 0 15px #7fffd1, 0 0 30px #7fffd1, 0 0 45px #7fffd1;
        opacity: 1;
    }

    100% {
        box-shadow: 0 0 5px #7fffd1, 0 0 10px #7fffd1;
        opacity: 0.95;
    }
}

/* Characters */
#plagueDoctor {
    position: absolute;
    right: 0vw;
    bottom: -3vw;
    width: 22vw;
}

#villager1 {
    position: absolute;
    left: -4vw;
    bottom: -3vw;
    width: 35vw;
    transition: opacity 0.6s ease;
    opacity: 1;
}

#worriedVillagerWoman {
    position: absolute;
    left: 1vw;
    bottom: 0;
    width: 18vw;
    transition: opacity 0.6s ease;
    opacity: 0;
    pointer-events: none;
}

#plagueRat{
    position:absolute;
    right:25vw;
    bottom:2vw;
    width:12vw;
    opacity:0;
    transition: opacity 0.6s ease;
}

#sickVillager {
    position: absolute;
    left: 2vw;       
    bottom: 0;       
    width: 20vw;
    opacity: 0;   
    transition: opacity 0.6s ease,
   
}

/* Dialogue System */
#characterName {
    color: tan;
}

#dialogueBox {
    position: fixed;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);

    width: 50vw;
    max-width: 50vw;

    padding: 2vh 2vw;

    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);

    border: 2px solid #c6a988;
    border-radius: 12px;

    color: white;
    font-size: clamp(2vh, 2.2vw, 3vh);
    line-height: 1.4;

    z-index: 10;
}

#nextArrow {
    position: absolute;
    bottom: 1vh;
    right: 1.5vw;

    font-size: 2.2vw;
    color: white;
    cursor: pointer;

    opacity: 0;
    transition: opacity 0.3s ease;

    animation: arrowPulse 1s infinite ease-in-out;
}

@keyframes arrowPulse {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.4vh);
    }

    100% {
        transform: translateY(0);
    }
}

/* Fight Choice System */
.fightChoiceBox {
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 1vh;
    margin-top: 2vh;
}

.fightChoiceBox .choiceBtn:nth-child(1) {
    border-color:#7fffd1;
}

.fightChoiceBox .choiceBtn:nth-child(1):hover {
    background: #64c19f;
}

.fightChoiceBox .choiceBtn:nth-child(2) {
    border-color: rgb(255, 255, 134);
}

.fightChoiceBox .choiceBtn:nth-child(2):hover {
    background: rgb(206, 206, 95);
}

.fightChoiceBox .choiceBtn:nth-child(3) {
    border-color: rgb(98, 0, 255);
}

.fightChoiceBox .choiceBtn:nth-child(3):hover {
    background: rgb(60, 0, 156);
}

.fightChoiceBox .choiceBtn:nth-child(4) {
    border-color: red;
}

.fightChoiceBox .choiceBtn:nth-child(4):hover {
    background: rgb(151, 0, 0);
}

/* Choice System */
#choiceBox {
    display: none;
    flex-direction: column;
    gap: 1vh;
    margin-top: 2vh;
}

.choiceBtn {
    padding: 1vh 1vw;
    font-size: 1.2vw;
    background: #000;
    border: 2px solid #c6a988;
    color: white;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.1s ease;
}

.choiceBtn:hover {
    background: #64c19f;
    transform: scale(1.02);
}


/* Music */
#turn-music-on {
    position: fixed;
    top: 1vh;
    right: 1vw;
    padding: .5vw .5vh;
    font-size: 2vh;
    font-weight: bold;
    background-color: #7fffd1;
    color: #000;
    border: 2px solid #c6a988;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.15s ease, background 0.15s ease;
}
/* Pause screen button */
#pause-screen-Btn:hover {
    transform: scale(1.1);
    background-color: #64c19f;
}

#pause-screen-Btn:active {
    transform: scale(0.97);
}

#pause-screen-Btn {
    position: fixed;
    top: 1vh;
    left: 1vw;
    padding: .5vw .5vh;
    font-size: 2vh;
    font-weight: bold;
    background-color: #7fffd1;
    color: #000;
    border: 2px solid #c6a988;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.15s ease, background 0.15s ease;
}

#resumeBtn:hover {
    transform: translateX(-50%) scale(1.08);
    background-color: #64c19f;
}

#resumeBtn:active {
    transform: translateX(-50%) scale(0.97);
}

#resumeBtn {
    position: fixed;
    top: 60vh;
    left: 50%;
    transform: translateX(-50%);

    padding: 1.5vh 2vw;
    font-size: 2vh;
    font-weight: bold;

    background-color: #7fffd1;
    color: #000;
    border: 2px solid #c6a988;
    border-radius: 8px;
    cursor: pointer;

    transition: transform 0.15s ease, background 0.15s ease;
}



#turn-music-on:hover {
    transform: scale(1.1);
    background-color: #64c19f;
}

#turn-music-on:active {
    transform: scale(0.97);
}


@keyframes hintPulse {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

/*makes all the button font Poppins*/
button {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

/*Pause screen */
#pauseScreen {
    position: fixed;
    inset: 0;
    display: none;
    z-index: 2000;
}

#pauseImage {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}




/*Inventory */
#inventoryGrid {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5vw;

    width: 26vw;

    padding-left: 0.03vw;
    margin-right: 40px;


}

.inventorySlot {

    width: 5vw;
    height: 5vw;

    border: 2px solid #c6a988;
    background: rgba(0,0,0,0.8);

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

}

.inventoryItem {

    width: 70%;
    height: 70%;
    object-fit: contain;

}

.itemCount {

    position: absolute;

    bottom: 0.2vw;
    right: 0.3vw;

    font-size: 0.9vw;
    color: white;

}

#inventoryPanel {

    position: absolute;
    top: 5vh;
    right: 1vw;
    margin-top: 18px;

    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #c6a988;

    padding: 1vw;

    display: none;

    width: fit-content;
    min-width: 28vw;

}

#inventoryPanel h3 {

    text-align: center;
    margin-top: 0;
    margin-bottom: 0.6vw;

    color: #c6a988;

}

#inventoryBtn {
    position: fixed;
    top: 1vh;
    right: 8vw;
    padding: .5vw .5vh;
    font-size: 2vh;
    font-weight: bold;
    background-color: #7fffd1;
    color: #000;
    border: 2px solid #c6a988;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.15s ease, background 0.15s ease;
}

#inventoryBtn:hover {
    transform: scale(1.1);
    background-color: #64c19f;
}

#inventoryBtn:active {
    transform: scale(0.97);
}

#inventoryHintArrow {
    display: none;      
    position: absolute;  
}

/*Potions */
#choiceBox {
    display: none;
}

.potionSlot {

    width: 5vw;
    height: 5vw;

    border: 2px solid #c6a988;
    background: rgba(0,0,0,0.85);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    position: relative;

    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.potionSlot img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.potionCount {

    position: absolute;
    bottom: 0.2vw;
    right: 0.3vw;

    font-size: 0.9vw;
    color: white;
}

/* usable potion */
.potionAvailable:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #7fffd1;
}

/* unavailable potion */
.potionDisabled {
    opacity: 0.35;
    cursor: default;
}

#treatmentChoiceBox{
    position:absolute;
    bottom:8vh;
    left:50%;
    transform:translateX(-50%);
    display:none;
    gap:20px;
}

.choiceBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#endingABtn {
    position: fixed;
    top: 70vh; /* below the resume button at 60vh */
    left: 50%;
    transform: translateX(-50%);

    padding: 1.5vh 2vw;
    font-size: 2vh;
    font-weight: bold;

    background-color: #7fffd1;
    color: #000;
    border: 2px solid #c6a988;
    border-radius: 8px;
    cursor: pointer;

    transition: transform 0.15s ease, background 0.15s ease;
}

#endingABtn:hover {
    transform: translateX(-50%) scale(1.08);
    background-color: #64c19f;
}

#endingABtn:active {
    transform: translateX(-50%) scale(0.97);
}